<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gqy.springbootstart.dao.DynamicCallInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gqy.springbootstart.entity.DynamicCallInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="caller" property="caller" jdbcType="VARCHAR" />
    <result column="callee" property="callee" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="dynamicAnalysisInfoId" property="dynamicanalysisinfoid" jdbcType="VARCHAR" />
    <result column="createdAt" property="createdat" jdbcType="TIMESTAMP" />
    <result column="updatedAt" property="updatedat" jdbcType="TIMESTAMP" />
    <result column="isInclude" property="isinclude" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
</mapper>